---
---

@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

// Our variables
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Custom

$casa-orange: #ff5134;
$casa-burnt-orange: #c53e15;
$casa-red: #a61d09;
$casa-gray: #666666;
$casa-dark-gray: #463c3c;
$casa-light-gray: #cecece;

$fancy-font: "Pacifico", cursive;

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

hr {
  margin: 50px 0;
  height: 1px;
  border-width: 0;
  color: white;
  background-color: white;
}

a {
  color: white;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  background: $casa-red;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 25px;
  z-index: 1;
  border-bottom: 2px solid white;

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }

  .logo {
    font-family: $fancy-font;
    display: inline-block;
    font-size: 2.5em;
  }

  #nav {
    float: right;
    margin-top: 20px;
    font-size: .9em;

    li {
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: 75px;
    }
  }
}

#content {
  position: absolute;
  top: 90px;
  width: 100%;
}

.home {
  .backdrop {
    top: -1450px;
    position: absolute;
    z-index: -1;
    width: 100%;
    overflow: hidden;
  }

  .welcome {
    border-top: 2px solid white;
    line-height: $base-font-size * 1.5;
    font-size: 18px;
    color: white;
    background: $casa-burnt-orange;
    position: absolute;
    top: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 300px;

    img {
      border-radius: 5px;
    }

    .col-7 {
      p {
        margin-top: 0;
      }
    }
  }
}

.rates {
  background: $casa-burnt-orange;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;

  &.images {
    background: white;
    img {
      border-radius: 3px;
    }
  }
}
