<div id="header">
	<div class="container">
		<div class="logo">
			<a href="{{ site.baseurl }}/" id="logo">Casa Amistad Nosara</a>
		</div>

		<nav id="nav">
			<ul>
				{% assign current = page.url | downcase | split: '/' %}
				<!-- <li {% if current[1] == 'rates' %}class="current"{% endif %}><a href="{{ site.baseurl }}/rates">Rates</a></li> -->
				<li {% if current[1] == 'main-house.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/main-house">Main House</a></li>
				<li {% if current[1] == 'studio.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/studio">Studio</a></li>
				<li><a target="_blank" href="https://www.google.com/maps/place/Kaya+Sol+Surf+Hotel/@9.9489704,-85.6718352,17z/data=!4m5!3m4!1s0x0:0xde72ffbb972a0538!8m2!3d9.9486673!4d-85.6702153?hl=en">Map</a></li>
				<li><a href="mailto:chrisbaschab@gmail.com">Book Now</a></li>
			</ul>
		</nav>
	</div>
</div>
