<div id="header">
	<div class="logo">
		<a href="{{ site.baseurl }}/" id="logo">Casa Amistad Nosara</a>
	</div>

	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'blog' %}class="current"{% endif %}><a href="{{ site.baseurl }}/rates">Rates</a></li>
			<li {% if current[1] == 'left-sidebar.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/studio">Studio</a></li>
			<li {% if current[1] == 'right-sidebar.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/main-house">Main House</a></li>
			<li {% if current[1] == 'no-sidebar.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/map">Map</a></li>
			<li {% if current[1] == 'two-sidebar.html' %}class="current"{% endif %}><a href="{{ site.baseurl }}/book">Book Now</a></li>
		</ul>
	</nav>
</div>
