<!DOCTYPE HTML>
<html>
  <head>
    <title>Casa Amistad Nosara</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/simple-grid.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" />
  </head>
  <body>
    {% include header.html %}
      <div id="home">
        <div class="home">
          <div class="backdrop">
            <img src="{{ site.baseurl }}/uploads/IMG_5660.jpg">
          </div>
          <div class="welcome">
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <img class="col-12" src="{{ site.baseurl }}/uploads/IMG_0783.jpg">
                  <img class="col-12" src="{{ site.baseurl }}/uploads/IMG_0059.jpg">
                  <img class="col-12" src="{{ site.baseurl }}/uploads/IMG_1505.JPG">
                  <img class="col-12" src="{{ site.baseurl }}/uploads/IMG_1506.JPG">
                </div>
                <div class="col-7">
                  {{ content }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% include footer.html %}
  </body>
</html>
